
/*========Geral=======*/
body, html
{
    background: #21242d;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*Container 3 cards*/
.container_options
{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 95%;
    height: 80%;
}

/*Cards*/
.container_box
{
    background: #fefefe;
    margin: .5rem 1.5rem .5rem 1.5rem;
    transform: scale(.9);
}

/*Card option skip*/
.box_skip .details
{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2rem
}

.box_skip
{
    box-shadow: 12px 12px 20px #000;
}
    

.box_skip header i
{
    font-size: 3rem;
    padding: .5rem;
}


/*Text cards*/
.text_container
{
    text-align: center;
    padding: 0 3rem 0 3rem;
}

.msg_card
{
    font-weight: 900;
    font-size: 4rem;
}

/*btn global*/
.btn_options
{
    width: 60%;
    background: #fcab1a;
    border: none;
    border-radius: 2rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    color: #fefefecb;
    font-weight: 900;
    letter-spacing: .1rem;
    font-size: 2rem;
    transition: .3s;
}

/*btn skip*/
.container_btn
{
    text-align: center;
    padding: 3rem 0 0 0;
}

.btn_options 
{
    transform: translateY(-5px) scale(.9);
    color: #fefefe;
    transition: .3s;
}

.btn_options:hover
{
    transform: scale(.9) translateY(-15px);
}

.container_login,
.container_new_account
{
    background: #424856;
    box-shadow: 12px 12px 20px rgb(0, 0, 0);
}


/*=== event_hoverIcons ===*/
.event_hover:hover
{
    cursor: pointer;
    transform: scale(.9);
    background: rgb(70, 68, 68);
    color: #fefefe;
    transition: .3s;
    border-radius: 1.7rem;
}

.event_hoverIcons:active
{
    transform: translateX(15px);
    transition: .1s;
}