
/*========Geral=======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212122;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.container {
    background-color: #212224;
    border-radius: 5px;
    border: 2px solid #202125;
    width: 500px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
    background-color: #292626;
    width: 500px;
}

.header h2 {
    font-weight: 600;
    color: #bdc4d5;
    font-size: 30px;
}

.form {
    padding: 0 40px 30px;
    background-color: #292626;
    width: 500px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    background: transparent;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #fefefe;
}

.form-control{
    border: 2px solid #3E445B;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    outline: none !important;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    color: #242424;    
}

.form button {
    background-color: #6C63FF;
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;

    margin-top: 5px;

    cursor: pointer;
}

.form button:hover {
    background-color: #584ff5;
    transition: 0.3s;
}